
cmp175/.vs/cmp175/FileContentIndex/c7c8e287-3ba1-4c57-8618-a72375c4ef25.vsidx
cmp175/.vs/cmp175/v17/.wsuo
cmp175/.vs/cmp175/v17/DocumentLayout.json
cmp175/.vs/cmp175/v17/workspaceFileList.bin
cmp175/.vs/slnx.sqlite
cmp175/.vs/VSWorkspaceState.json
cmp175/obj/Debug/net8.0/apphost.exe
cmp175/obj/Debug/net8.0/cmp175.AssemblyInfo.cs
cmp175/obj/Debug/net8.0/cmp175.AssemblyInfoInputs.cache
cmp175/obj/Debug/net8.0/cmp175.assets.cache
cmp175/obj/Debug/net8.0/cmp175.csproj.AssemblyReference.cache
cmp175/obj/Debug/net8.0/cmp175.GeneratedMSBuildEditorConfig.editorconfig
cmp175/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
cmp175/obj/Release/net8.0/cmp175.AssemblyInfo.cs
cmp175/obj/Release/net8.0/cmp175.AssemblyInfoInputs.cache
cmp175/obj/Release/net8.0/cmp175.assets.cache
cmp175/obj/Release/net8.0/cmp175.GeneratedMSBuildEditorConfig.editorconfig
cmp175/obj/Release/net8.0/cmp175.GlobalUsings.g.cs
cmp175/obj/Release/net8.0/cmp175.RazorAssemblyInfo.cache
cmp175/obj/Release/net8.0/cmp175.RazorAssemblyInfo.cs
cmp175/obj/project.nuget.cache
cmp175/obj/project.assets.json
cmp175/obj/Debug/net8.0/staticwebassets.pack.json
cmp175/obj/Debug/net8.0/staticwebassets.development.json
cmp175/obj/Debug/net8.0/staticwebassets.build.json
cmp175/obj/Debug/net8.0/refint/cmp175.dll
cmp175/obj/Debug/net8.0/ref/cmp175.dll
cmp175/obj/Debug/net8.0/project.razor.vs.bin
cmp175/obj/Debug/net8.0/cmp175.sourcelink.json
cmp175/obj/Debug/net8.0/cmp175.pdb
cmp175/obj/Debug/net8.0/cmp175.MvcApplicationPartsAssemblyInfo.cs
cmp175/obj/Debug/net8.0/cmp175.genruntimeconfig.cache
cmp175/obj/Debug/net8.0/cmp175.GeneratedMSBuildEditorConfig.editorconfig
cmp175/obj/Debug/net8.0/cmp175.dll
cmp175/obj/Debug/net8.0/cmp175.csproj.FileListAbsolute.txt
cmp175/obj/Debug/net8.0/cmp175.csproj.CoreCompileInputs.cache
cmp175/obj/Debug/net8.0/cmp175.csproj.BuildWithSkipAnalyzers
cmp175/obj/Debug/net8.0/cmp175.csproj.AssemblyReference.cache
cmp175/obj/Debug/net8.0/cmp175.assets.cache
cmp175/obj/Debug/net8.0/cmp175.AssemblyInfoInputs.cache
cmp175/obj/Debug/net8.0/cmp175.AssemblyInfo.cs
cmp175/obj/Debug/net8.0/apphost.exe
cmp175/obj/cmp175.csproj.nuget.g.props
cmp175/obj/cmp175.csproj.nuget.dgspec.json
cmp175/cmp175.csproj.user
cmp175/cmp175.csproj
cmp175/bin/Debug/net8.0/cmp175.staticwebassets.runtime.json
cmp175/bin/Debug/net8.0/cmp175.pdb
cmp175/bin/Debug/net8.0/cmp175.exe
cmp175/bin/Debug/net8.0/cmp175.dll
.vs/cmp175/v17/DocumentLayout.json
.vs/cmp175/v17/.suo
.vs/cmp175/FileContentIndex/aee523cc-a285-403b-8fd0-d3d14c298442.vsidx
.vs/cmp175/FileContentIndex/53695ee7-5b90-4685-b6bd-6b4ed5b5a199.vsidx
.vs/cmp175/FileContentIndex/4316d8e6-4680-492b-b89a-c755706244a0.vsidx
.vs/cmp175/FileContentIndex/0bc3bec2-f95d-449d-b9a8-e5db82fc3d63.vsidx
.vs/cmp175/DesignTimeBuild/.dtbcache.v2
.vs/cmp175/config/applicationhost.config
.vs/cmp175/DesignTimeBuild/.dtbcache.v2
.vs/cmp175/FileContentIndex/4b739791-2545-4cae-b20f-78438a7059b5.vsidx
.vs/cmp175/FileContentIndex/53695ee7-5b90-4685-b6bd-6b4ed5b5a199.vsidx
.vs/cmp175/FileContentIndex/9ebe421c-487b-4904-b75a-5876a74002b5.vsidx
.vs/cmp175/FileContentIndex/b2c49e5e-652d-4320-b70e-39ee80b94d5d.vsidx
.vs/cmp175/v17/.suo
.vs/cmp175/v17/DocumentLayout.json
cmp175/bin/Debug/net8.0/cmp175.dll
.vs/cmp175/FileContentIndex/2faa815b-9887-4ab5-8fa3-9c5abfaab9ed.vsidx
.vs/cmp175/FileContentIndex/53695ee7-5b90-4685-b6bd-6b4ed5b5a199.vsidx
.vs/cmp175/FileContentIndex/993d239c-173c-4ceb-9668-1e07c7f67a87.vsidx
.vs/cmp175/v17/.futdcache.v2
.vs/cmp175/v17/.suo
.vs/cmp175/v17/DocumentLayout.json
.vs/ProjectEvaluation/cmp175.metadata.v7.bin
.vs/ProjectEvaluation/cmp175.projects.v7.bin
cmp175/bin/Debug/net8.0/cmp175.dll
cmp175/bin/Debug/net8.0/cmp175.exe
cmp175/bin/Debug/net8.0/cmp175.pdb
cmp175/obj/Debug/net8.0/apphost.exe
cmp175/obj/Debug/net8.0/cmp175.AssemblyInfo.cs
cmp175/obj/Debug/net8.0/cmp175.AssemblyInfoInputs.cache
cmp175/obj/Debug/net8.0/cmp175.assets.cache
cmp175/obj/Debug/net8.0/cmp175.csproj.AssemblyReference.cache
cmp175/obj/Debug/net8.0/cmp175.GeneratedMSBuildEditorConfig.editorconfig
*.dll
*.cache
*.cs
*.vsidx
*.v2
*.dll
*.editorconfig
