@model cmp175.Models.Source
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
	.course-card {
		border: 1px solid #ccc;
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease;
	}

		.course-card:hover {
			transform: scale(1.05);
		}

		.course-card .img {
			height: 200px;
			background-size: cover;
			background-position: center;
		}

		.course-card .price {
			background-color: #007bff;
			color: #fff;
			font-weight: bold;
			padding: 5px 10px;
			position: absolute;
			top: 10px;
			right: 10px;
			border-radius: 5px;
		}

		.course-card .description {
			padding: 10px;
			font-size: 18px;
		}

		.course-card .button {
			padding: 10px;
		}

	.btn-quick-shop,
	.btn-add-to-cart {
		margin-right: 10px;
		margin-bottom: 10px;
		/* Thêm margin dưới cho nút */
	}

	.button {
		display: flex;
		justify-content: space-around;
	}

	.btn-quick-shop,
	.btn-add-to-cart {
		margin-right: 10px;
		margin-bottom: 10px;
		transition: transform 0.3s ease;
	}

		.btn-quick-shop:hover,
		.btn-add-to-cart:hover {
			transform: scale(1.1);
		}
	
</style>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="course-card">
				<div class="img"
					 style="background-image: url(@Model.imageUrl);">
				</div>
				<div class="price">@Model.Price</div>
				<div class="description">@Model.NameSource</div>
				<div class="button">
					<button class="btn btn-primary btn-quick-shop">Quick Shop</button>
					<button class="btn btn-success btn-add-to-cart">Add to Cart</button>
				</div>
			</div>
		</div>
	</div>
</div>
