@model List<cmp175.Models.Source>
@{
    Layout = "_Layout";
}

<style>
    .hover-content {
        display: none;
        position: absolute;
        bottom: -50px; 
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        transition: all 0.3s ease;
    }
    .card:hover .hover-content {
        display: block;
        bottom: 0px;
        z-index: 1;
    }
    .hover-content button {
        margin-right: 10px;
    }
    
    .button1 {  background-color: white;  color: black;  border: 1px solid black; border-radius: 5px; padding: 10px; padding-left: 18px; padding-right: 18px}
    .button2 {  background-color: #3bf83b;   border: 2px solid  #3bf83b; border-radius: 5px; padding: 10px; padding-left: 18px; padding-right: 18px;color: white}
    
  .button1:hover{
  color: black;
  }
  .card{
  
  }
</style>

<div class="container mt-5">
    <div class="row">
        @foreach (var source in Model) {
            <div class="col-3 " >
                <div style="height: 350px" class="card mb-4 container">

                    <div class="py-3">
                        <h5 class="mb-0"><img style="width: 260px ; height: 150px" src="@source.imageUrl" /></h5>
                    </div>
                    <div class="">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item align-items-center border-0 px-0 pb-0 " style="font-size: 25px">
                                $@source.Price 
                            </li>
                            <li class="list-group-item align-items-center px-0">
                                <h5> @source.NameSource</h5>
                            </li>

                        </ul>

                    </div>
                    <div class="hover-content ms-3  ">
                        <a  style="text-decoration: none" asp-controller="Source" asp-action="Details" asp-route-id="@source.Id" class="button1 quick-shop-button"><span> Quick Shop</span></a>
                        
                         <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="sourceId" value="@source.Id" />
                            <button class="button2" type="submit">Add</button>
                        </form>

                    </div>
                </div>
            </div>
        }
    </div>



</div>