<style>
#lessonData ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lessonData ul li {
    display: inline-block; 
    margin-right: 10px;
   
}

#lessonData ul li a {
    text-decoration: none;
    padding: 5px 10px; 
    border-radius: 5px; 
    color: #333; 
      color: white;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  height: 32px;
  margin-left: 0;
    margin-right: -12px;

}

div.scrollmenu a:hover {
  background-color: #777;
}
.CLexampleList {
    display: flex;
    flex-direction: column;
}

.CLexampleList ul li {
background-color: #b0afaf;
    text-decoration: none; 
    padding: 10px;
    color: #333; 
}
#exampleList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.CLexampleList ul li:hover {
    background-color: #e0e0e0; 
}
#contentDetails ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ls{
text-decoration: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
color: white;
}
</style>

<div class="scrollmenu " id="scrollmenu">
    <div class=" mt-1" >
    
        <a class=""  id="lessonData"></a>
        
      </div>
</div>
<div class="">
    <div class="row">
        <div class="col-md-2  CLexampleList" >
            <a class="text-center ls  " id="exampleList"></a>
        </div>
        <div class="col-md-8 mt-2">
            <a  id="contentDetails"></a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var selectedLessonId = null;

    $(document).ready(function () {
        $.get("/api/lesson", function (data) {
            var lessons = data;

            // Hiển thị danh sách các bài học
            if (lessons && lessons.length > 0) {
                var lessonHtml = "<ul>";
                lessons.forEach(function (lesson) {
                    lessonHtml += "<li><a href='#' class='lesson-link' data-lesson-id='" + lesson.id + "'>" + lesson.name + "</a></li>";
                });
                lessonHtml += "</ul>";
                $("#lessonData").html(lessonHtml);
            } else {
                $("#lessonData").html("<p>No lessons available</p>");
            }
        }).fail(function () {
            $("#lessonData").html("<p>Failed to load lessons</p>");
        });
    });

    // Hàm để tải các ví dụ dựa trên id của bài học và hiển thị chúng trong div exampleList
    function loadExamples(lessonId) {
        selectedLessonId = lessonId; // Cập nhật ID của bài học được chọn
        $.get("/api/lesson/" + lessonId + "/examples", function (data) {
            // Xử lý dữ liệu trả về từ API
            var examples = data;

            // Hiển thị danh sách các ví dụ
            if (examples && examples.length > 0) {
                var exampleHtml = "<ul>";
                examples.forEach(function (example) {
                    exampleHtml += "<li><a href='#' class='example-link' data-example-id='" + example.exampleId + "'>" + example.name + "</a></li>";
                });
                exampleHtml += "</ul>";
                $("#exampleList").html(exampleHtml);
            } else {
                $("#exampleList").html("<p>No examples available</p>");
            }
        }).fail(function () {
            $("#exampleList").html("<p>Failed to load examples</p>");
        });
    }

    // Sự kiện click cho các liên kết bài học
    $(document).on("click", ".lesson-link", function (e) {
        e.preventDefault();
        var lessonId = $(this).data("lesson-id");
        loadExamples(lessonId);
        // Xóa nội dung của contentDetails khi nhấn vào một bài học mới
        $("#contentDetails").html("");
    });

    // Sự kiện click cho các liên kết ví dụ
    $(document).on("click", ".example-link", function (e) {
        e.preventDefault();
        var exampleId = $(this).data("example-id");
        loadExampleContents(exampleId);
    });

    // Hàm để tải các nội dung ví dụ dựa trên id của ví dụ và hiển thị chúng trong div contentDetails
    function loadExampleContents(exampleId) {
        // Kiểm tra xem đã chọn một bài học nào chưa
        if (selectedLessonId !== null) {
            $.get("/api/lesson/" + exampleId + "/examplecontents", function (contents) {
                // Hiển thị danh sách các nội dung ví dụ
                var contentHtml = "<ul>";
                contents.forEach(function (content) {
                    contentHtml += "<li>" + content.name + "</li>";
                });
                contentHtml += "</ul>";

                // Đồng thời gọi API contentdetails và hiển thị danh sách chi tiết nội dung
                $.get("/api/lesson/" + exampleId + "/contentdetails", function (details) {
                    var detailsHtml = "<ul>";
                    details.forEach(function (detail) {
                        detailsHtml += "<li>" + detail.name + "</li>";
                    });
                    detailsHtml += "</ul>";

                    // Hiển thị cả hai danh sách trong cùng một div
                    $("#contentDetails").html(contentHtml + detailsHtml);
                }).fail(function () {
                    $("#contentDetails").html("<p>Failed to load content details</p>");
                });
            }).fail(function () {
                $("#contentDetails").html("<p>Failed to load example contents</p>");
            });
        }
    }

</script>

