
<link rel="stylesheet" type="text/css" href="~/css/lesson.css">
<div class="scrollmenu " id="scrollmenu">
    <div class=" mt-1" >
    
        <a class=""  id="lessonData"></a>
        
      </div>
</div>
<div class="">
    <div class="row-ls">
        <div class="col-md-2  CLexampleList" >
            <a class="text-center ls  " id="exampleList"></a>
        </div>
        <div class="col-md-8 mt-2">
            <a  id="contentDetails"></a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/lessonJs.js"></script>

