@page
@model Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal.RegisterModel


<link rel="stylesheet" href="/css/login.css">

<form  id="registerForm" asp-route-returnUrl="@Model.ReturnUrl"   method="post" class="vh-100 gradient-custom ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body pt-5 ps-5 pe-5 pb-3 text-center  ">
  
              <div class="mb-md-5 mt-md-4 pb-2 ">
  
                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-center text-white-50 mb-5">Đăng ký tài khoản cho tao okk!</p>
  
                <div class="text-start form-outline form-white mb-4">
                  <label  class="form-label" for="typeEmailX">Email</label>
                  <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                  
                  <span asp-validation-for="Input.Email" class="text-danger"></span>
                  
                </div>
   
                <div class="text-start form-outline form-white mb-3">
                  <label class=" form-label" for="typePasswordX">Password</label>
                 <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                  <span asp-validation-for="Input.Password" class="text-danger"></span>
                  
                  
                </div>
                <div class="text-start form-outline form-white mb-3">
                  <label class=" form-label" for="typePasswordX">ConfirmPassword</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                  <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <p class="text-center small mb-2 pb-lg-2"><a class="text-white-50" href="#">Forgot password?</a></p>
                <button class="btn btn-outline-light btn-lg px-5 " type="submit">Register</button>
              </div>
  
              <div>
                <p class="mb-0 text-center">Don't have an account? <a href="/Identity/Account/Login" class="text-white-50 fw-bold">Sign in</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
